<br>
<h2>Create a new Gab</h2>
<br>
<form class="" action="/create" method="post">
  <textarea name="newGab" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Save Gab</button>
</form>
