<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>
    <nav>
      <a href="/homepage">Gabble</a>
      <h4>logged in as {{username}}</h4>
      <a href="/logout">Log Out</a>
    </nav>
    {{{yield}}}
  </body>
</html>
