
{{#message}}
<div class="containerSix">
  <h3>  {{users.dataValues.username}}</h3>
    {{text}}
    <br>
    {{updatedAt}}
    <p>Likes: {{likes.length}}</p>
    <h2>Who Liked It:</h2>
{{#likes}}{{#user}}{{name}}{{/user}}{{/likes}}
</div>
<br>
{{/message}}
