<h1>Login</h1>

<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="password" name="password" value="" placeholder="Password">
  <button type="submit" name="button">LogIn</button>
  <br>
  <a href="/signup">Sign Up!</a>
</form>
