<h1>Sign Up!</h1>

<form class="" action="/signup" method="post">
  <input type="text" name="name" value="" placeholder="First Name">
  <br>
  <input type="text" name="username" value="" placeholder="Username">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <input type="text" name="passwordconfirm" value="" placeholder="Confirm password">
  <br>
  <button type="submit" name="button">Sign Up!</button>
</form>
